bidict==0.23.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.0.4
Flask==2.0.3
Flask-Admin==1.6.1
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==2.5.1
greenlet==3.1.0
h11==0.14.0
idna==3.10
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
python-engineio==4.10.1
python-socketio==5.11.4
requests==2.32.3
simple-websocket==1.1.0
SQLAlchemy==1.4.31
urllib3==2.3.0
Werkzeug==2.0.3
wsproto==1.2.0
WTForms==3.2.1
yFinance==0.1.63